Source: genopt
Section: science
Priority: optional
Maintainer: Tong Zhang <zhangt@frib.msu.edu>
Build-Depends: debhelper (>=9), dh-python, python-all (>= 2.6.6-3~), 
               python-setuptools, python-pydakota
Standards-Version: 3.9.7
Homepage: https://controls.frib.msu.edu/genopt/
X-Python-Version: >= 2.6
#X-Python3-Version: >= 3.2
Vcs-Git: https://zhangt@stash.frib.msu.edu/scm/phyapp/genopt.git
Vcs-Browser: https://stash.frib.msu.edu/projects/PHYAPP/repos/genopt/browse

Package: python-genopt
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, dakota-drivers
#Suggests: python-genopt-doc
Description: Python module to do multi-dimensional optimization (Python 2)
 Use dakota as the core optimization engine, as well as dakota-drivers
 built with flame accelerator modeling library, to do various complex
 optimization tasks, such as accelerator orbit correction, etc.

#Package: python3-genopt
#Architecture: any
#Depends: ${python3:Depends}, ${misc:Depends}
#Suggests: python-genopt-doc
#Description: <insert up to 60 chars description> (Python 3)
# <insert long description, indented with spaces>
# .
# This package installs the library for Python 3.

#Package: python-genopt-doc
#Architecture: all
#Section: doc
#Depends: ${sphinxdoc:Depends}, ${misc:Depends}
#Description: Documentation of python-genopt

